{
    "type": "service_account",
    "project_id": "xxxxxxxxx",
    "private_key_id": "xxxxxxxxx",
    "private_key": "xxxxxxxxx",
    "client_email": "xxxxxxxxx",
    "client_id": "xxxxxxxxx",
    "auth_uri": "xxxxxxxxx",
    "token_uri": "xxxxxxxxx",
    "auth_provider_x509_cert_url": "xxxxxxxxx",
    "client_x509_cert_url": "xxxxxxxxx"
  }